<!DOCTYPE html>
<html lang="en">
<%- include('partials/header'); -%>
<body>
  <%- include('partials/nav'); -%>

  <ul class="recipes">

    <% if (products.length > 0) { %>
      <% products.forEach(product => { %>

        <li class="recipe">
          <a href="/smoothies/<%= product._id%>">          
            <img src="/img/product-img/<%= product.img.data %>" alt="smoothie recipe icon">
            <h4><%= product.name %></h4>
            <p><%= product.desc %></p>
            <p>price: $<%= product.price %></p>
            <button type="submit" data-doc=""></button>
          </a>
        </li>
    <%  }) %>
    <% } else { %>
      <h4>oops! no recipe is available!</h4>
    <% } %>

  </ul>

<%- include('partials/footer'); -%>
</body>
</html>





